__pycache__/

venv/
.env/
.venv/


docs/
logs/
pip-log.txt
pip-delete-this-directory.txt
*.egg
*.egg-info/
dist/
build/
*.sqlite3
*.db
.ipynb_checkpoints/
.idea/
.DS_Store
Thumbs.db
.mplconfig/
*.csv
*.json
*.png
.env
config.yaml
